html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
header, footer, nav, section {
  display: block;
}
ul, ol {
  list-style: none;
}
[hidden] {
  display: none;
}
b, strong {
  font-weight: bold;
}
img {
  border: 0;
}
a {
  background: transparent;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}
pre {
  overflow: auto;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
select, input, textarea {
  margin: 0;
}
select {
  text-transform: none;
}
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[disabled] {
  cursor: default;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
}
