.grid {
  display: block;
  .unit {
    float: left;
    display: inline-block;
    padding: 12px 12px;
  }
  .full {
    width: 100%;
  }
  .fat {
    width: percentage(1-$waistline);
  }
  .slim {
    width: percentage($waistline);
  }
  .centre {
    width: 50%;
    @include center();
  }
  *zoom: 1;
  @include clearfix();
}

@media only screen and (max-width: 970px) {

}
