@font-face {
  font-family: $icon;
  font-style: normal;
  font-weight: normal;
  src: url(./icons/#{$icon}.eot);
  src: url('./icons/#{$icon}.eot?#iefix') format('ie9-skip-eot'),
       url('./icons/#{$icon}.ttf') format('truetype'),
       url('./icons/#{$icon}.woff') format('woff'),
       url('./icons/#{$icon}.svg') format('svg');
}
i[class^='icon-'],
i[class*=' icon-'],
span[class^='icon-'],
span[class*=' icon-'] {
  position: static;
  font-family: $icon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  margin: 0 5px;
  min-width: 20px;
  color: $icon-color;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-login:before {
  @include icon(\e632);
}
.icon-logout:before {
  @include icon(\e631);
}
.icon-user:before {
  @include icon(\e61d);
}
.icon-users:before {
  @include icon(\e61e);
}
.icon-home:before {
  @include icon(\e626);
}
.icon-export:before {
  @include icon(\e621);
}
.icon-setting:before {
  @include icon(\e658);
}
.icon-book:before {
  @include icon(\e63f);
}
.icon-discuss:before {
  @include icon(\e62c);
}
.icon-vcard:before {
  @include icon(\e620);
}
.icon-time:before {
  @include icon(\1f554);
}
.icon-bulb:before {
  @include icon(\e62b);
}
.icon-newest:before {
  @include icon(\e600);
}
.icon-list:before {
  @include icon(\e602);
}
.icon-like:before {
  @include icon(\e60c);
}
.icon-unlike:before {
  @include icon(\e616);
}
