/**
 * icon.css
 */

@font-face {
  font-family: "feather";
  src: url("fonts/feather-webfont.eot");
  src: url("fonts/feather-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/feather-webfont.woff") format("woff"),
       url("fonts/feather-webfont.ttf") format("truetype"),
       url("fonts/feather-webfont.svg#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  display: inline-block;
  font-family: "feather";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e002";
}
.icon-power:before {
  content: "\e086";
}
.icon-user:before {
  content: "\e074";
}
.icon-esc:before {
  content: "\e089";
}
.icon-layout:before {
  content: "\e004";
}
.icon-clock:before {
  content: "\e014";
}
.icon-archive:before {
  content: "\e121";
}
.icon-plus:before {
  content: "\e114";
}
.icon-message:before {
  content: "\e076";
}
.icon-menu:before {
  content: "\e120";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-search:before {
  content: "\e036";
}
.icon-delete:before {
  content: "\e119";
}
.icon-heart:before {
  content: "\e024";
}
.icon-cross:before {
  content: "\e117";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-prev:before {
  content: "\e094";
}
.icon-next:before {
  content: "\e095";
}
.icon-cloud:before {
  content: "\e065";
}
.icon-upload:before {
  content: "\e066";
}
.icon-server:before {
  content: "\e022";
}
.icon-unlock:before {
  content: "\e008";
}
.icon-lock:before {
  content: "\e007";
}
.logo-svg {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 44px;
  fill: white;
  svg {
    height: 100%;
    width: 100%;
  }
}

.logo-svg:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Spinner
 */

@include keyframes(spinner) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.spinner {
  font-family: sans-serif;
  font-weight: 100;
}

.spinner:not(:required) {
  display: inline-block;
  position: relative;
  border: 3px solid #edeeef;
  border-right-color: transparent;
  width: 20px;
  height: 20px;
  overflow: hidden;
  @include border-box();
  @include border-radius(50%);
  @include animation(spinner 1000ms infinite linear);
}
