@font-face {
  font-family: $icon;
  font-style: normal;
  font-weight: 400;
  src: url(./icons/#{$icon}.eot);
  src: url('./icons/#{$icon}.eot?#iefix') format("ie9-skip-eot"),
       url('./icons/#{$icon}.ttf') format("truetype"),
       url('./icons/#{$icon}.woff') format("woff");
}
i[class^='icon-'],
i[class*=' icon-'],
span[class^='icon-'],
span[class*=' icon-'] {
  font-family: $icon;
  font-style: normal;
  display: inline-block;
  position: static;
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
  color: $icon-color;
}
.icon-login:before {
  @include icon(\e740);
}
.icon-logout:before {
  @include icon(\e741);
}
.icon-signup:before {
  @include icon(\e700);
}
.icon-user:before {
  @include icon(\1f464);
}
.icon-users:before {
  @include icon(\1f465);
}
.icon-home:before {
  @include icon(\2302);
}
.icon-export:before {
  @include icon(\e715);
}
.icon-setting:before {
  @include icon(\2699);
}
.icon-nav-left:before {
  @include icon(\e765);
}
.icon-nav-right:before {
  @include icon(\e766);
}
