@font-face {
  font-family: $icon-name;
  font-weight: normal;
  font-style: normal;
  src: url("./icons/#{$icon-name}.eot");
  src: url("./icons/#{$icon-name}.eot?#iefix") format("ie9-skip-eot"),
       url("./icons/#{$icon-name}.ttf") format("truetype"),
       url("./icons/#{$icon-name}.woff") format("woff"),
       url("./icons/#{$icon-name}.svg") format("svg");
}
i[class^="icon-"],
i[class*=" icon-"],
span[class^="icon-"],
span[class*=" icon-"] {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-family: $icon-name;
  color: $icon-color;
  display: inline-block;
  margin: 0 5px;
  min-width: 20px;
  position: static;
  text-transform: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    height: inherit;
  }
}
.icon-login:before   { content: "\e632"; }
.icon-logout:before  { content: "\e631"; }
.icon-user:before    { content: "\e61d"; }
.icon-users:before   { content: "\e61e"; }
.icon-home:before    { content: "\e626"; }
.icon-export:before  { content: "\e621"; }
.icon-setting:before { content: "\e628"; }
.icon-book:before    { content: "\e63f"; }
.icon-discuss:before { content: "\e62c"; }
.icon-vcard:before   { content: "\e620"; }
.icon-time:before    { content: "\e62a"; }
.icon-bulb:before    { content: "\e62b"; }
.icon-newest:before  { content: "\e600"; }
.icon-list:before    { content: "\e602"; }
.icon-like:before    { content: "\e60c"; }
.icon-unlike:before  { content: "\e616"; }
.icon-upload:before  { content: "\e63c"; }
.icon-comment:before { content: "\e625"; }
