/**
 * mixin.css
 */

@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($var...) {
  -webkit-border-radius: $var;
     -moz-border-radius: $var;
      -ms-border-radius: $var;
       -o-border-radius: $var;
          border-radius: $var;
}

@mixin box-shadow($var...) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
       -o-box-shadow: $var;
          box-shadow: $var;
}

@mixin transition($var...) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
       -o-transition: $var;
          transition: $var;
}

@mixin transform($var...) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
       -o-transform: $var;
          transform: $var;
}

@mixin animation($var...) {
  -webkit-animation: $var;
     -moz-animation: $var;
      -ms-animation: $var;
       -o-animation: $var;
          animation: $var;
}

@mixin keyframes($class) {
  @-webkit-keyframes $class { @content }
  @-moz-keyframes $class { @content }
  @-ms-keyframes $class { @content }
  @-o-keyframes $class { @content }
  @keyframes $class { @content }
}

@mixin white-space() {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center()
{
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
