@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin border-radius($var) {
  -webkit-border-radius: $var;
     -moz-border-radius: $var;
      -ms-border-radius: $var;
       -o-border-radius: $var;
          border-radius: $var;
}
@mixin box-shadow($var...) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
       -o-box-shadow: $var;
          box-shadow: $var;
}
@mixin transition($var...) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
       -o-transition: $var;
          transition: $var;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin icon($code) {
  content: '#{$code}';
  height: inherit;
}
