* {
  @include border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body,
ul {
  margin: 0;
}
ul {
  padding: 0;
}
section {
  display: block;
}
li {
  list-style: none;
}
img {
  border: 0;
}
a {
  background: transparent;
  text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}
code,
pre {
  font-family: monospace;
  font-size: 1em;
}
pre {
  overflow: auto;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
select,
input,
textarea {
  margin: 0;
}
select {
  text-transform: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  padding: 0;
}
label {
  display: inline-block;
  font-size: .85em;
}
[hidden] {
  display: none;
}
