.boxify {
  min-height: 100px;
  margin-bottom: 20px;
  padding: 4px 0;
  border-top: 1px solid rgba(#505050, .12);
  background-color: $boxify-color;
  @include border-radius(3px);
  @include box-shadow(0 1px 2px rgba(#000, .404));
}
form {
  input,
  textarea {
    display: block;
    font-size: 1em;
    line-height: 1.4;
    outline: none;
    padding: 5px 6px;
    border: 1px solid #e0e0eb;
    @include border-radius(3px);
    &:focus {
      border-color: $border-color;
      @include box-shadow(0 1px 2px rgba(#000, .076), 0 0 5px rgba($font-color, .404));
    }
  }
}
.pagination {
  min-height: 50px;
}
p {
  &.meta {
    margin: 0 auto 0 76px;
    font-size: .75em;
    line-height: 20px;
    color: rgba(#000, .522);
    > a {
      color: rgba($font-color, .720);
      margin-right: 12px;
    }
  }
}
#logo {
  float: left;
  display: inline-block;
  font-family: Georgia, 'Xin Gothic', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', SimSun, sans-serif;
  > a {
    display: inline-block;
    color: rgba(#000, .404);
    font-size: 1.024em;
    font-weight: 400;
    height: 50px;
    padding: 12px 12px;
    sup {
      font-size: .752em;
      margin-left: .257em;
      font-style: italic;
      color: rgba(#000, .37);
    }
  }
}
#logout {
  margin-left: 28px;
  margin-top: 28px;
}
.tab {
  padding: .85em .85em;
  li {
    a {
      display: block;
      font-size: .85em;
      line-height: 1.65em;
      padding: .195em .85em;
      border-left: .195em solid #ededed;
      border-right: .195em solid transparent;
      color: rgba($font-color, .836);
      margin-bottom: .195em;
    }
    &:hover {
      a {
        border-right: .195em solid rgba($font-color, .404);
        background-color: rgba($font-color, .082);
      }
    }
    &.active {
      a {
        border-left: .195em solid rgba($font-color, .404);
      }
    }
    &:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
}
