::selection {
  text-shadow: none;
  background-color: $selection-color;
  color: $selection-font-color;
}
.boxify {
  min-height: 50px;
  margin-bottom: 20px;
  padding: 4px 0;
  background-color: $boxify-color;
  @include border-radius(3px);
  @include box-shadow(0 0 1px rgba(#000, .225), 0 1px 1px rgba(#000, .404));
}
.countify {
  background-color: rgba($icon-color, .225);
  color: $icon-color;
  line-height: 24px;
  font-size: .825em;
  padding: 0 .825em;
  margin: 4px 0;
  @include border-radius(32px);
}
form {
  input,
  textarea {
    display: block;
    outline: none;
    font-size: .85em;
    line-height: 1.65em;
    color: rgba(#000, .625);
    padding: 5px 6px;
    border: 1px solid rgba($font-color, .225);
    @include border-radius(3px);
    &:focus {
      border-color: $border-color;
      @include box-shadow(0 1px 2px rgba(#000, .076), 0 0 5px rgba($font-color, .404));
    }
  }
}
.pagination {
  min-height: 50px;
  ul {
    text-align: center;
    li {
      min-width: 1.65em;
      display: inline-block;
      font-size: .85em;
      line-height: 50px;
      color: rgba(#5b657c, .625);
      a {
        color: rgba($font-color, .875);
      }
      i {
        color: inherit;
      }
    }
  }
}
p {
  &.meta {
    font-size: .75em;
    line-height: 20px;
    color: rgba(#000, .522);
    > a {
      color: rgba($font-color, .720);
      margin-right: 12px;
    }
  }
}
#logo {
  float: left;
  display: inline-block;
  font-family: Georgia, 'Xin Gothic', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', SimSun, sans-serif;
  > a {
    display: inline-block;
    color: rgba(#000, .404);
    font-size: 1.024em;
    font-weight: 400;
    height: 50px;
    padding: 12px 12px;
    letter-spacing: .115em;
    sup {
      font-size: .720em;
      margin-left: .225em;
      font-style: italic;
      color: rgba(#000, .37);
      letter-spacing: normal;
    }
  }
}
#logout {
  display: none;
}
.tab {
  padding: .85em .85em;
  li {
    a {
      display: block;
      font-size: .85em;
      line-height: 1.65em;
      padding: .12em .85em;
      border-left: .195em solid #ededed;
      border-right: .195em solid transparent;
      color: rgba($tab-color, .85);
    }
    &:hover {
      a {
      }
    }
    &.active {
      a {
        border-left: .195em solid rgba($tab-color, .404);
      }
    }
  }
  &.inverse {
    li {
      a {
        border-left: .195em solid transparent;
        border-right: .195em solid #ededed;
      }
      &.active {
        a {
          border-right: .195em solid rgba($tab-color, .404);
        }
      }
    }
  }
}
.vcard {
  .vcard-user-info {
    padding: 20px 20px;
    .avatar {
      width: 52px;
      height: 52px;
    }
    .account {
      display: inline-block;
      padding: .12em .12em;
      width: 180px;
      float: right;
      color: $font-color;
      font-size: .85em;
      > span {
        display: block;
        &:last-child {
          font-size: .825em;
          color: rgba(#000, .404);
        }
      }
    }
  }
  .vcard-stats {
    border-top: 1px solid rgba(#505050, .12);
    @include stat();
  }
  .linklr {
    margin-top: .37em;
    margin-bottom: .12em;
    font-size: .825em;
    display: block;
    line-height: 2.0em;
    color: rgba(#006ecc, .404);
    font-weight: bold;
  }
}
.web {
  .web-stats {
    @include stat();
  }
}
.sort {
  .sort-tab {
    @include stat();
  }
}
.avatar {
  display: inline-block;
  overflow: hidden;
  @include border-radius(40px);
  @include box-shadow(0 0 2px rgba(#505050, .37));
  > a {
    display: block;
    line-height: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.following,
.followers,
.users {
  padding: .85em .85em;
  @include clearfix();
  .user-item {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    padding: .37em 0;
    .user-info {
      color: rgba(#000, .404);
      font-size: .85em;
      margin-bottom: .37em;
    }
  }
  &.show {
    .avatar-not-square {
      float: right;
      margin-right: 1.15em;
      margin-top: 1.15em;
    }
    .user-account,
    .user-profile {
      p {
        font-size: .85em;
        color: rgba($font-color, .825);
        span {
          display: inline-block;
          text-align: right;
          width: 120px;
          margin-left: 1.15em;
          margin-right: 1.15em;
          color: rgba(#000, .404);
        }
        a {
          color: rgba($font-color, .825);
        }
      }
    }
  }
}
.page {
  &.error {
    text-align: center;
    font-size: .85em;
    line-height: 1.65em;
    color: rgba(#000, .37);
    margin-bottom: 2.25em;
  }
}
.smile {
  text-align: center;
  color: rgba($font-color, .85);
  font-size: 2.25em;
}
.alert {
  &.notify {
    background-color: rgba(#82B3D6, .12);
    p {
      margin: 0;
      padding: .625em 0;
      text-align: center;
      font-size: .85em;
      color: rgba($font-color, .625);
    }
  }
}
.comment {
  &.new {
    padding: 1em 1em;
    textarea {
      width: 100%;
      resize: none;
      margin-bottom: 1em;
    }
  }
}
.trigger {
  color: $font-color;
  font-size: .825em;
}
span {
  &.error {
    font-size: .72em;
    line-height: 1.65em;
    margin-left: 160px;
    color: lighten($font-color, 10%);
  }
}
.liking {
  i {
    color: #de533c;
  }
}
