::selection {
  text-shadow: none;
  background-color: $selection-color;
  color: $selection-font-color;
}
form {
  input,
  textarea {
    display: block;
    outline: none;
    padding: 5px 5px;
    font-size: .85em;
    line-height: 1.65em;
    border: 1px solid transparent;
    color: rgba(#000, .625);
    @include border-radius(3px);
    @include box-shadow(0 0 1px rgba(#000, .625));
    &:focus {
      @include box-shadow(0 0 1px rgba(#000, .85));
    }
  }
}
p {
  &.meta {
    font-size: .75em;
    line-height: 20px;
    color: rgba(#000, .522);
    > a {
      color: rgba($font-color, .720);
      margin-right: 12px;
    }
  }
}

#nprogress .bar {
  display: none;
  background: #e8e8e8;
}

/* Fancy blur effect */
#nprogress .peg {
  // box-shadow: 0 0 10px #e0e0e0, 0 0 5px #e0e0e0;
}

#nprogress .spinner-icon {
  display: none;
  border: solid 2px transparent;
  border-top-color: #bbb;
  border-left-color: #bbb;
}
