.inner {
  margin: 0 auto;
  max-width: $master-width;
  height: 100%;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.pull_right {
  float: right;
}
.pull_left {
  float: left;
}
span {
  &.space {
    padding: 0 .195em;
  }
}
i {
  &.number {
    font-style: normal;
  }
}
.center {
  @include center();
}
.clearfix {
  @include clearfix();
}
