/**
 * util.css
 */

.inner {
  position: relative;
  margin: 0 auto;
  height: 100%;
  &.w970 {
    max-width: 970px;
  }
  &.w850 {
    max-width: 850px;
  }
  &.w720 {
    max-width: 720px;
  }
  &.w560 {
    max-width: 560px;
  }
  &.w420 {
    max-width: 420px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inline {
  display: inline-block;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.center {
  @include center();
}

.clearfix {
  @include clearfix();
}
