.inner {
  height: 100%;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.inline {
  display: inline-block;
}
.pull_right {
  float: right;
}
.pull_left {
  float: left;
}
.center {
  @include center();
}
.clearfix {
  @include clearfix();
}
