/**
 * Default variables
 */
$icon: entypo;
$body-color: #f7f6f8;
$navbar-color: #fffffe;
$boxify-color: #feffff;
$icon-color: #5b657c;
$font-color: #5c648c;
$border-color: #aab2bb;
$btn-border-color: #7a60b6;
$btn-normal-color: #929bd0;
$master-width: 970px;
$waistline: .32;
