$html-color: #fbfbf9;
$body-color: #fbfbf9;
$navbar-color: #fffefe;
$boxify-color: #fffefe;
$footer-color: #fefffe;
$selection-color: #9CCAE8;
$selection-font-color: #4086E1;
$btn-border-color: #8098AF;
$btn-normal-color: #9BAFC3;
$comment-color: #6b7283;
$border-color: #9CCAE8;
$error-color: #f4645f;
$font-color: #6F8092;
$icon-color: #748698;
$link-color: #9CCAE8;
$title-color: #419BF0;
$content-color: #7D8C9B;
$tab-color: #419BF0;
$alert-color: #D0B0A2;
$master-width: 970px;
$waistline: .32;
$icon-name: icomoon;
