@import 'mixins';
@import 'values';
@import 'normalize';
@import 'grid';
@import 'icons';
@import 'buttons';
@import 'ui';
@import 'utils';

body {
  background-color: $body-color;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: $boxify-color;
  span {
    color: rgba($icon-color, .789);
  }
  @include box-shadow(0 0 3px rgba(#000, .387));
}
.master {
  margin: 0 auto;
  min-height: 360px;
  padding-top: 72px;
  width: $master-width;
}
.footer {
  border-top: 1px solid #e0e1e3;
  min-height: 50px;
}
.options {
  display: inline-block;
  height: 100%;
  > a {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    color: $font-color;
    font-size: .85em;
    padding: 0 12px;
  }
}
.topic {
  &.list {
    > li {
      position: relative;
      min-height: 72px;
      padding: 10px 10px;
      border-bottom: 1px solid rgba(#505050, .12);
      > a {
        display: block;
        margin-left: 76px;
        line-height: 32px;
        font-size: .85em;
        color: rgba($font-color, .836);
      }
      > span {
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 10px;
        height: 52px;
        width: 52px;
        overflow: hidden;
        @include border-radius(40px);
        @include box-shadow(0 0 2px rgba(#505050, .37));
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &.new {
    padding: 20px 20px;
    input[type=text],
    textarea {
      width: 100%;
      resize: none;
      margin-bottom: .73em;
    }
    label {
      color: rgba($font-color, .720);
      padding: .37em .12em .73em .12em;
    }
  }
  &.show {
    .title {
      padding: 20px 20px;
      border-bottom: 1px solid rgba(#505050, .12);
      font-weight: bold;
      font-size: .97em;
      color: rgba(#000, .67);
    }
    .body {
      padding: 20px 20px;
      font-size: .85em;
      color: lighten(#000, 37%);
    }
  }
}
ul {
  &.login,
  &.signup,
  &.find {
    padding: 20px 0;
    li.field {
      position: relative;
      margin: 12px 0;
      input {
        margin: 0 auto;
        width: 320px;
      }
      label {
        display: inline-block;
        position: absolute;
        color: rgba($font-color, .720);
        padding-right: 12px;
        line-height: 40px;
        text-align: right;
        width: 128px;
        left: 16px;
        top: 0;
      }
    }
    input[type=submit] {
      float: right;
      margin-right: 158px;
    }
    > label {
      color: rgba(#000, .37);
      margin-left: 158px;
    }
    @include clearfix();
  }
}
