/**
 * application.css
 */

@import 'mixin';
@import 'base';
@import 'grid';
@import 'icon';
@import 'btn';
@import 'ui';
@import 'util';

body {
  background-color: #edeeef;
  font-family: Georgia, Monaco, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

.logo {
  position: relative;
  display: inline-block;
  height: 100%;
  .home {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 115;
  height: 45px;
  background-color: #53575b;
  border-bottom: 1px solid #43474b;
  .tab {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 56px;
    &.right {
      right: 0;
    }
    &.left {
      left: 90px;
    }
  }
}

.navtab {
  display: inline-block;
  li {
    position: relative;
    display: inline-block;
    float: left;
    a {
      display: block;
      font-size: 16px;
      line-height: 40px;
      min-width: 42px;
      span {
        font-size: 20px;
        opacity: .94;
      }
      &:hover {
        span {
          opacity: 1.0;
        }
      }
    }
  }
  > li {
    > a {
      padding: 4px 8px 0 8px;
      text-align: center;
      color: white;
    }
  }
  .user-opt {
    height: 44px;
    padding: 10px 10px;
    img {
      width: 24px;
      height: 24px;
      @include border-radius(3px);
      @include box-shadow(0 0 0 1px rgba(#000, .1), 0 1px 2px rgba(#000, .2));
    }
    b {
      display: inline-block;
      float: right;
      height: 24px;
      line-height: 24px;
      margin-left: .5em;
    }
  }
}

.master {
  padding-top: 72px;
}

ul {
  &.list {
    > li {
      border-bottom: 1px solid #e5e6e8;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.list {
  &.topic {
    &.index {
      li {
        position: relative;
        min-height: 56px;
        padding-left: 72px;
        padding-right: 1em;
      }
      .title {
        display: block;
        font-size: 1em;
        line-height: 56px;
        color: rgba(#53575b, .94);
      }
      .avatar {
        position: absolute;
        left: .5em;
        top: 0;
      }
      .date {
        float: right;
        font-size: 14px;
        color: rgba(#000, .37);
      }
    }
  }
}

.topic {
  &.new,
  &.edit {
    padding: 1em 1em;
  }
  input[type=text],
  textarea {
    margin-bottom: .5em;
    width: 100%;
  }
  &.show {
    .title {
      position: relative;
      min-height: 56px;
      padding-left: 72px;
      padding-right: 1em;
      border-bottom: 1px solid #e5e6e8;
      span {
        display: block;
        font-size: 1em;
        line-height: 56px;
        color: rgba(#53575b, .94);
      }
    }
    .body {
      padding: 1em 1em;
      color: #565656;
    }
  }
}

.user {
  &.profile {
    &.edit {
      padding: 1em 1em;
      input[type=text] {
        margin-bottom: .5em;
      }
      textarea {
        margin-bottom: .5em;
        width: 100%;
      }
    }
  }
  &.show {
    padding: 1em 1em;
    color: rgba(#000, .5);
  }
  &.new {
    padding: 1em 1em;
    input[type=text],
    input[type=password] {
      margin-bottom: .5em;
      width: 100%;
    }
  }
}

.session {
  &.new {
    padding: 1em 1em;
    input[type=text],
    input[type=password] {
      margin-bottom: .5em;
      width: 100%;
    }
  }
}

.category {
  &.index {
    padding: 1em 1em;
    li {
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: transparent #dbdbdb #dbdbdb #dbdbdb;
      &:first-child {
        border-top: 1px solid #dbdbdb;
      }
    }
    a {
      display: inline-block;
      color: rgba(#000, .5);
      font-size: 1em;
      line-height: 40px;
      min-width: 40px;
      &:first-child {
        float: left;
        text-align: center;
      }
      &:last-child {
        display: block;
        margin-left: 40px;
      }
    }
  }
  &.selection {
    padding: .625em .75em;
    @include clearfix();
    a {
      display: inline-block;
      float: left;
      padding: 4px 1em;
      margin: .375em .25em;
      font-size: 1em;
      line-height: 32px;
      color: rgba(#53575b, .5);
      background-color: #edeeef;
      border: 1px solid #dbdbdb;
      @include border-radius(20px);
    }
  }
  &.edit {
    padding: 1em 1em;
    input[type=text] {
      width: 100%;
      margin-bottom: .5em;
    }
  }
  &.new {
    padding: 1em 1em;
    input[type=text] {
      width: 100%;
      margin-bottom: .5em;
    }
  }
}

.reply {
  &.new,
  &.edit {
    padding: 1em 1em;
    textarea {
      width: 100%;
      margin-bottom: .5em;
    }
  }
  &.index {
    > li {
      position: relative;
      padding: .5em 1em .5em 72px;
      min-height: 56px;
    }
    .avatar {
      position: absolute;
      left: .5em;
      top: 0;
    }
    .username,
    .date {
      font-size: 14px;
      line-height: 1em;
      color: rgba(#53575b, .5);
    }
    .delete {
      float: right;
      font-size: 20px;
      color: rgba(#444, .404);
    }
    .content {
      color: #565656;
      a {
        color: rgba(#53575b, .94);
      }
    }
  }
}

.search {
  &.index {
    padding: 1em 1em;
    input[type=text] {
      width: 100%;
      margin-bottom: .5em;
    }
  }
}

.admin {
  &.topic {
    &.index {
      padding-top: .5em;
      li {
        border-bottom: 1px solid #dbdbdb;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        a {
          display: inline-block;
          color: rgba(#000, .5);
          line-height: 40px;
          &.title {
            display: block;
            margin-left: 40px;
          }
          &:first-child {
            float: left;
            min-width: 40px;
            text-align: center;
          }
        }
        .date {
          float: right;
          margin-right: 1em;
        }
      }
    }
  }
}

.profile {
  position: relative;
  .user-avatar {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    width: 120px;
    min-height: 120px;
    text-align: center;
    form {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      input[type=file] {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}

.topic-opt {
  line-height: 40px;
  border-top: 1px solid #e5e6e8;
  a {
    display: inline-block;
    color: rgba(#000, .5);
    &:first-child {
      min-width: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: .5em;
      &:hover {
        color: #eb1163;
      }
    }
  }
  .heart {
    color: #eb1163;
  }
}
