$html-color: #fbfbf9;
$body-color: #fbfbf9;
$navbar-color: #fffefe;
$boxify-color: #fffefe;
$footer-color: #fefffe;
$selection-color: #9CCAE8;
$selection-font-color: #4086E1;
$btn-border-color: #8098AF;
$btn-normal-color: #5fcf80;
$comment-color: #6b7283;
$border-color: #9CCAE8;
$error-color: #f4645f;
$font-color: #6F8092;
$icon-color: #748698;
$link-color: #9CCAE8;
$title-color: #CF583E;
$content-color: #7D8C9B;
$tab-color: #CF583E;
$alert-color: #D0B0A2;
$master-width: 970px;
$waistline: .32;
$icon-name: icomoon;

@import 'mixin';
@import 'base';
@import 'grid';
@import 'ui';
@import 'icon';
@import 'button';
@import 'util';

/****/

body {
  background-color: #ebecee;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 115;
  height: 45px;
  background-color: #53575b;
  border-bottom: 1px solid #43474b;
}
.inner {
  position: relative;
  margin: 0 auto;
  &.w970 {
    max-width: 970px;
  }
  &.w560 {
    max-width: 560px;
  }
}
.boxify {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf #d0d1d3 #bebcbb #d0d1d3;
  min-height: 50px;
  margin-bottom: 20px;
  @include border-radius(3px);
}
.master {
  padding-top: 72px;
}
ul {
  &.list {
    > li {
      border-bottom: 1px solid #eaeaeb;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
.list {
  .title {
  }
  .meta {
    display: inline-block;
  }
  &.topic {
    &.index {
      li {
        position: relative;
        min-height: 56px;
        padding-left: 56px;
      }
      .title {
        display: block;
        padding-top: 12px;
        font-size: 16px;
        line-height: 40px;
        color: rgba(#000, .625);
      }
      .avatar {
        position: absolute;
        left: 0;
        top: 0;
      }
      .meta {
        color: rgba(#000, .37);
      }
      .date {
        color: rgba(#000, .37);
      }
    }
  }
}
.avatar {
  display: inline-block;
  img {
    width: 100%;
    height: auto;
    @include border-radius(50%);
  }
  &.s56 {
    width: 56px;
    height: 56px;
  }
}
span {
  &.icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(/assets/icon.png);
    background-repeat: no-repeat;
    background-size: 183px 21px;
  }
  &.icon-email {
    background-position: 0 0;
  }
  &.icon-notify {
    background-position: -27px 0;
  }
  &.icon-settings {
    background-position: -54px 0;
  }
  &.icon-user {
    background-position: -81px 0;
  }
  &.icon-message {
    background-position: -108px 0;
  }
  &.icon-logout {
    background-position: -135px 0;
  }
  &.icon-list {
    background-position: -162px 0;
  }
}






.todpic {
  &.index {
    li {
      border-bottom: 1px solid rgba(#000, .12);
      padding: 10px 12px;
      a {
        color: rgba(#000, .625);
      }
    }
  }
  &.list {
    li {
      position: relative;
      min-height: 72px;
      padding: 10px 12px;
      border-bottom: 1px solid rgba($font-color, .12);
      a {
        &.title {
          display: block;
          margin-left: 76px;
          line-height: 32px;
          font-size: .85em;
          color: $title-color;
        }
      }
      p {
        margin: 0 auto 0 76px;
      }
    }
    .avatar {
      position: absolute;
      left: 12px;
      top: 10px;
      height: 52px;
      width: 52px;
    }
  }
  &.new,
  &.edit {
    padding: 20px 20px;
    input[type=text],
    textarea {
      width: 100%;
      margin-bottom: .73em;
    }
    textarea {
      resize: none;
      font-size: .92em;
      line-height: 1.85em;
    }
    label {
      color: rgba($font-color, .720);
      padding: .37em .12em .73em .12em;
    }
  }
  &.show {
    .title {
      padding: 20px 20px;
      border-bottom: 1px solid rgba(#505050, .12);
      font-weight: bold;
      font-size: .97em;
      color: rgba(#000, .67);
    }
    .body {
      padding: 20px 20px;
      border-bottom: 1px solid rgba(#505050, .12);
      font-size: .85em;
      color: $content-color;
      p {
        line-height: 1.65em;
        @include white-space();
      }
      code {
        @include white-space();
      }
    }
    .topic-stats {
      padding: 10px 10px;
      font-size: .85em;
      line-height: 1.65em;
      color: rgba(#000, .404);
    }
  }
}
ul {
  &.password,
  &.profile,
  &.signup,
  &.login,
  &.find {
    padding: 20px 0;
    li.field {
      position: relative;
      margin: 12px 0;
      textarea,
      input {
        margin-left: 30%;
        width: 50%;
      }
      label {
        display: inline-block;
        position: absolute;
        line-height: 40px;
        text-align: right;
        padding-right: 1.2em;
        color: rgba(#7d8c9b, .95);
        left: 5%;
        right: 70%;
        top: 0;
      }
    }
    input[type=submit] {
      float: right;
      margin-right: 20%;
    }
    textarea {
      resize: none;
    }
    > label {
      color: rgba(#000, .37);
      margin-left: 30%;
    }
    @include clearfix();
  }
}
.category {

}
.comment {
  li {
    position: relative;
    padding: 10px 12px;
    font-size: .85em;
    line-height: 1.4em;
    color: rgba($comment-color, .94);
    .avatar {
      position: absolute;
      left: 12px;
      top: 10px;
      height: 42px;
      width: 42px;
    }
    .meta {
      margin: 0 0 .37em 62px;
    }
    .content {
      margin: 0 12px 0 62px;
      @include white-space();
    }
    .reply {
      li {
        .avatar {
          position: absolute;
          left: 30px;
          top: 10px;
          height: 36px;
          width: 36px;
        }
        .meta {
          margin: 0 0 0 72px;
        }
        .reply-content {
          margin: 0 0 0 72px;
        }
      }
    }
  }
}
.upload-avatar {
  .upload-form {
    position: relative;
    margin: 1em 1em;
    padding: 1em 1em;
    font-size: .72em;
    line-height: 1.65em;
    color: $font-color;
    text-align: center;
    border: 2px dashed rgba($font-color, .404);
    form {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      input[type=file] {
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}
.avatar-not-square {
  margin: 1em auto;
  width: 128px;
  height: 128px;
  padding: 3px 3px;
  line-height: 0;
  @include border-radius(128px);
  @include box-shadow(0 0 1px rgba(#000, .37));
  img {
    width: 100%;
    height: auto;
    overflow: hidden;
    @include border-radius(128px);
  }
}
